<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashboard</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favcon.ico') }}">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/default.css') }}">
  <script src="https://cdn.cardknox.com/ifields/2.14.2211.1101/ifields.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

</head>

<body>
  {% include 'navbar.html' %}
  
  <div class="card text-center">
    <div class="card-header">
      app.cardknox.link
    </div>
    <div class="card-body">
      <h2 class="display-6">Welcome! Let’s get testing 🚀</h2>
      <p class="card-text">{{ message }}</p>
      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tranzact</h5>
              <p class="card-text">This tool is designed for testing payment features within the Sola API and other available integrations. It allows you to simulate transactions, validate responses, and troubleshoot payment processes.</p>
              <a href="/tranzact" class="btn btn-primary">Try Tranzact</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Settings</h5>
              <p class="card-text">The Settings screen lets you to configure API keys, toggle between Sandbox and Production modes, manage authentication tokens, and set transaction parameters, ensuring seamless payment testing within the Sola API and integrations.</p>
              <a href="/settings" class="btn btn-primary">Go to Settings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      Built by Ephraim, fueled by caffeine ☕ and determination.
    </div>
  </div>



  


  <script src="{{url_for('static', filename='apphome.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
  

</body>

</html>