<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Employee Contact Information</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favcon.ico') }}">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pagestyle.css') }}">
  <script src="https://cdn.cardknox.com/ifields/2.14.2211.1101/ifields.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

</head>

<body>
  {% extends "head.html" %}

  {% block content %}
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1 class="pt-5">APL Report</h1>
      </div>
    </div>
    <div class="input-group">
      <div class="form-floating">
        <select id="state" name="state" class="form-select" aria-label="Floating label select example">

          <option label="Alabama">AL</option>
          <option label="Alaska">AK</option>
          <option label="Arizona">AZ</option>
          <option label="Arkansas">AR</option>
          <option label="California">CA</option>
          <option label="Colorado">CO</option>
          <option label="Connecticut">CT</option>
          <option label="Delaware">DE</option>
          <option label="Florida">FL</option>
          <option label="Georgia">GA</option>
          <option label="Hawaii">HI</option>
          <option label="Idaho">ID</option>
          <option label="Illinois">IL</option>
          <option label="Indiana">IN</option>
          <option label="Iowa">IA</option>
          <option label="Kansas">KS</option>
          <option label="Kentucky">KY</option>
          <option label="Louisiana">LA</option>
          <option label="Maine">ME</option>
          <option label="Maryland">MD</option>
          <option label="Massachusetts">MA</option>
          <option label="Michigan">MI</option>
          <option label="Minnesota">MN</option>
          <option label="Mississippi">MS</option>
          <option label="Missouri">MO</option>
          <option label="Montana">MT</option>
          <option label="Nebraska">NE</option>
          <option label="Nevada">NV</option>
          <option label="New Hampshire">NH</option>
          <option label="New Jersey">NJ</option>
          <option label="New Mexico">NM</option>
          <option label="New York" selected>NY</option>
          <option label="North Carolina">NC</option>
          <option label="North Dakota">ND</option>
          <option label="Ohio">OH</option>
          <option label="Oklahoma">OK</option>
          <option label="Oregon">OR</option>
          <option label="Pennsylvania">PA</option>
          <option label="Rhode Island">RI</option>
          <option label="South Carolina">SC</option>
          <option label="South Dakota">SD</option>
          <option label="Tennessee">TN</option>
          <option label="Texas">TX</option>
          <option label="Utah">UT</option>
          <option label="Vermont">VT</option>
          <option label="Virginia">VA</option>
          <option label="Washington">WA</option>
          <option label="West Virginia">WV</option>
          <option label="Wisconsin">WI</option>
          <option label="Wyoming">WY</option>


        </select>
        <label for="state" class="text-muted">State</label>
      </div>
      <button type="button" class="btn btn-secondary" id="pullcatreport">Categories</button>
      <button type="button" class="btn btn-secondary" id="pullprodreport">Products</button>
    </div>
    <div class="row">
      <div class="col">
        <table id="table" data-search-highlight="false" data-sort-name="UPC_PLU" data-sort-order="asc" data-height="600"
          data-visible-search="true">
        </table>
      </div>
    </div>
  </div>




  

  <script src="{{url_for('static', filename='app.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
  {% endblock %}
</body>

</html>